.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 10px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-center {
    position: absolute;
    left: 50%;

}

.nav-right {
    display: flex;
    align-items: center;
    gap: 6px; /* controla a distância entre texto e ícone */
}

.h2-navcenter {

    width: max 160px;
    height: max 24px;
    top: 4px;

    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;

    color: #60A5FA;


}

.nav2{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    color: #cbd5e1;
}

.navbar > h3 {

    width: 55px;
    height: 20px;

    font-family: Archivo;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 140%;

    color: #F1F5F9;

}