
.nav2 {      
    display: flex;   
    
    gap: 20px;
    justify-content: space-evenly;
    padding: 10px;
    max-width: 100%;
}

@media screen and (max-width: 770px){
    .nav2{
        display: none;
    }
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    box-sizing: border-box;
    background: #0b1220;
}

@media screen and (max-width: 625px){
    .navbar{
        padding: 10px;
        font-size: small;
    }
}

.nav-left,
.nav-right {
    margin: 0;
    max-width: 100%;
    width: 55px;
    height: 20px;
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;      
    justify-content: center;  
    gap: 5px;
    color: #F1F5F9;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header {
    position: relative;
}

.h2-navcenter {
    margin: 0;

    font-family: 'Archivo Black', sans-serif;
    font-weight: 400; 
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;

    text-transform: uppercase;

    color: #60a5fa;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 24px;
}

.nav-left h3,
.nav-right h3 {
    margin: 0;

    font-family: archivo, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    color: #f1f5f9;
}


.navbar i {
    font-size: 20px;
    width: 20px;
    height: 20px;
}


.nav2 h3 {
    margin: 0;

    font-family: 'Archivo', sans-serif;
    font-weight: 600;        
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0;

    color: #cbd5e1;

    white-space: nowrap;     
    display: flex;
    align-items: center;     
}
