.hero{
  width: 100%;
  margin: 0 auto;
  padding: 50px 32px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 850px 830px;
  gap: 25px;
  justify-content: center;
  align-items: start;
}

/* BLOCO PRINCIPAL */
.bloco-robo{
  position: relative;
  width: 100%;
  max-width: 850px;
  height: 588px;
  border-radius: 8px;
  overflow: hidden;
}

.bloco-robo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* TEXTO PRINCIPAL */
.texto-robo{
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  color: #F1F5F9;
}

.texto-robo h2{
  font-family: 'Archivo', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 135%;
  margin: 0;
}

/* TAG */
.tag-robo,
.tag-menor{
  display: inline-block;
  padding: 4px 8px;
  margin-bottom: 12px;

  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;

  text-transform: uppercase;
  color: #F1F5F9;
  background: #1D4ED8;
  border-radius: 4px;
}

/* GRID LATERAL */
.conteudos-menores{
  width: 100%;
  max-width: 830px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 281px;
  gap: 25px;
}

/* CARDS MENORES */
.noticia-menor{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.noticia-menor img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* TEXTO MENOR */
.texto-menor{
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  color: #F1F5F9;
}

.texto-menor p{
  font-family: 'Archivo', sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
}